.card{
    margin-bottom: 5%;
    margin-right: 5%;
}
.RowOfCategory{
    display: table;
    flex-wrap: wrap;
}
.cos{
    display: table-cell;
    flex-wrap: wrap;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}