<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="grid-container">
<div class="RowOfCategory">
    <div class="search-container">
          <input class="search-input" (keyup.enter)="findPhrease();" [(ngModel)]="searchPhrase" type="text" placeholder="Search.." name="search">
          <button class="search-submit"type="submit" (click)="findPhrease();"><i class="fa fa-search"></i></button>
      </div>
      <div class="sort-product btn-group mr-1">
        <span class="sort-product-main btn btn-primary btn-cat-name" (click)="resetFilters();">Reset filters</span>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-primary dropdown-toggle-split sort-product-dropdown" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="sortPriceConfig(true)">Price ascending</button>
                <button class="dropdown-item" (click)="sortPriceConfig(false)">Price descending</button>
                <button class="dropdown-item" (click)="sortNameConfig(true)">Name A-Z</button>
                <button class="dropdown-item" (click)="sortNameConfig(false)">Name Z-A</button>
            </div>
        </div>
    </div>
    <div class="cos" *ngFor="let category of categoryAll">
        <div class="btn-group mr-1">
            <button type="button" class="btn btn-primary btn-cat-name"
                (click)="realoadCat(category.Category);">{{category.Category}}</button>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" *ngFor="let catItem of category.SubCategory"
                        (click)="reloadSub(category.Category,catItem);">{{catItem}}</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    
    <div class="grid-container-pages">
        <div class="number-of-visible-products">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-primary dropdown-toggle-split number-of-visible-products-dropdown" ngbDropdownToggle>Number of products </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button (click)="changePageSize(10);" class="dropdown-item">10</button>
                    <button (click)="changePageSize(15);" class="dropdown-item">15</button>
                    <button (click)="changePageSize(20);" class="dropdown-item">20</button>
                    <button (click)="changePageSize(30);" class="dropdown-item">30</button>
                </div>
            </div>
        </div>
        <div class="previous-page">
            <button class="page-button btn btn-primary" (click)="minusPage();">Previous page</button>
        </div>
        <div class="current-page">
            <label class="current-page-label">Current page: {{pageNumber}} / {{productsAll.TotalPages}} </label>
        </div>
        <div class="next-page">
            <button class="page-button btn btn-primary" (click)="addPage();">Next page</button>
        </div>
    </div>
    <div class="col-sm-2" *ngFor="let item of productsAll.Items">
        <div class="card">
            <img src="{{item.ImgPath}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.ProductName}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{item.Category}}</li>
                <li class="list-group-item">{{item.Subcategory}}</li>
                <li class="list-group-item">{{item.BruttoPrice | currency:"PLN ":"symbol"}}</li>
            </ul>
            <div class="card-buttons">
                <button (click)="openDialog(item.ProductId);" class="btn btn-primary">Open</button>
                &nbsp;
                <button (click)="addToCart(item.ProductId)" class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    </div>
</div>
</div>