<div class="RowOfCategory">
    <div class="cos" *ngFor="let category of categoryAll">
        <div class="btn-group mr-1">
            <button type="button" class="btn btn-primary"
                (click)="realoadCat(category.Category);">{{category.Category}}</button>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" *ngFor="let catItem of category.SubCategory"
                        (click)="reloadSub(category.Category,catItem);">{{catItem}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" *ngFor="let item of productsAll.Items">
        <div class="card" style="width: 18rem;">
            <img src="assets/photo/zdj_39787.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.ProductName}}</h5>
                <p class="card-text">{{item.ProductDesc}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{item.Category}}</li>
                <li class="list-group-item">{{item.Subcategory}}</li>
                <li class="list-group-item">{{item.BruttoPrice}} zł</li>
            </ul>
            <div class="card-body">
                <button (click)="openDialog(item.ProductId);" class="btn btn-primary">Otwórz</button>
                &nbsp;
                <button (click)="addToCart(item.ProductId)" class="btn btn-primary">Dodaj do koszyka</button>
            </div>
        </div>
    </div>
</div>