<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span class="example-spacer"></span>
    &nbsp;
    {{productDetails.ProductName}}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn-dialog-close" mat-stroked-button style="float: right" (click)="onClose()" tabIndex="-1">
      <mat-icon>clear</mat-icon>
    </button>
    
</mat-toolbar>

<div class="parent">
    <div class="div1"> 
        <!-- <img src="{{productDetails.ImgPath}}"> -->
        <img src="{{productDetails.ImgPath}}" style="width: 285px;">
    </div>
    <div class="div2"> <p>Cena:</p> PLN{{productDetails.BruttoPrice}} </div>
    <div class="div3"> <p>Kod produktu:</p> {{productDetails.ProductCode}} </div>
    <div class="div4"> <p>Dostępna ilość:</p> {{productDetails.Quantity}} </div>
    <div class="div5"> <p>Opis produktu:</p> {{productDetails.ProductDesc}} </div>
    <div class="div6"> <button class="btn btn-primary" (click)="addToCart(productDetails.ProductId)" >Dodaj do koszyka</button> </div>
</div>
