<html ng-app="myApp">
  <head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body >
   
    <table class="table" ng-show="carts.length > 0">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th colspan="2">Full price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of carts">
          <td>{{item.ProductName}}</td>
          <td>{{item.BruttoPrice | currency:"PLN ":"symbol"}}</td>
          <td><button class="minus-plus-product" (click)="minusThisProduct(item.ProductId)">-</button>{{item.Quantity}}<button class="minus-plus-product" (click)="plusThisProduct(item.ProductId)">+</button></td>
          <td>{{item.BruttoPrice * item.Quantity | currency:"PLN ":"symbol"}}</td>
          <td>
            <button (click)="removeFromCart(item.ProductId)" class="btn btn-primary">Remove</button>
          </td>
        </tr>
        <button class="submit-order btn btn-primary" (click)="submitOrder();">Submit order</button>
      </tbody>
    </table>
  </body>
</html>